<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          package="com.igorwojda.showcase.feature.album">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/feature_album">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,MissingApplicationIcon">

    </application>

</manifest>
