root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_size = 4
max_line_length = 140
# There is a problem with import order IDE vs ktlint, so we have to disable "import-ordering" rule
# See https://github.com/pinterest/ktlint/issues/538
disabled_rules = import-ordering
