root = true

[*.{kt,kts}]
end_of_line = lf
insert_final_newline = true
max_line_length = 140
ktlint_function_naming_ignore_when_annotated_with=Composable

# Detekt orders imports correctly, while ktlint does not
ktlint_standard_import-ordering = disabled
