root = true

[*.{kt,kts}]
end_of_line = lf
insert_final_newline = true
max_line_length = 140

# Starting from ktlint 0.34.2 There is a problem with import "import-ordering" rule - ktlint contradicts
# default AS import arrangement rules, so we have to disable ktlint it.
# See https://github.com/pinterest/ktlint/issues/527
# Since IDE complains about unknown `disabled_rules` key we have to disable it as well:
